
/* ===== RESET ===== */
*{margin:0;
	padding:0;box-sizing:border-box;font-family:Arial,Helvetica,sans-serif}
body{
	background-image: url("sfondo.png");
}
/* ===== CARD ===== */
.match-card{
	background:#fff;
	border-radius:25px;
	overflow:hidden;
	margin:20px 10px;
	border:1px solid #000;
	transition:.2s
}
.match-card:hover{
	transform:scale(1.01);
	box-shadow:0 4px 14px rgba(0,0,0,.15);
	background-color: #add8e6;
	color: white;
	
}

/* ===== MAIN ===== */
.match-main{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:25px
}

/* ===== TEAM ===== */
.team{
	width:30%;
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center
}
.team .name{
	font-size:20px;
	font-weight:700;
	color:#333;
	margin-bottom:10px
}
.team .result{
	margin-top:6px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase
}
.result.win{
	color:#d11b1b
}
.result.loss{
	color:#555
}
.result.draw{
	color:#777
}

/* ===== LOGOS ===== */
.team img{
	width:85px;
	height:85px;
	object-fit:contain
}

/* ===== SCORE ===== */
.score{
	display:flex;
	align-items:center;
	gap:14px;
	font-size:55px;
	font-weight:800;
	color:#d11b1b
}
.score .dash{
	font-size:40px;
	color:#333
}

/* ===== VS ===== */
.score .versus{
	font-size:50px;
	font-weight:800;
	opacity:.5;
	color:#333
}

/* ===== FUTURE ===== */
.center-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.future-match{
	opacity:.85
}
.future-badge{
	background:#3578ff;
	color:#fff;
	padding:4px 10px;
	border-radius:12px;
	font-size:12px;
	margin-left:8px;
	font-weight:bold;
	display:flex;
	justify-content: center;
}

/* ===== FOOTER ===== */
.match-footer{
	background:#2e3a48;
	color:#fff;
	padding:15px 25px;
	display:flex;
	justify-content: center;
	gap:25px;
	font-size:17px
}
.match-footer .item{
	opacity:.9;
	display:flex;
	align-items:right;
	text-align:center;
}
.match-footer .recap{
	margin-left:auto;
	font-weight:bold;
	opacity:.8;
	text-transform:uppercase
}

/* ===== RESPONSIVE ===== */
/*@media(max-width:700px){
  .match-main{
	  flex-direction:column;
	  gap:20px
	}
  .team{
	  width:100%
	}
  .score{
	  font-size:45px
	}
}*/

@media (max-width: 600px) {
	.match-main{
	  flex-direction:column;
	  gap:20px
	}
  .team{
	  width:100%
	}
  .score{
	  font-size:45px
	}
	
	.button-container{
		flex-direction:column;
		gap: 20px;
	}
  .buttons {
    flex-direction: column;
    gap: 30px;
    padding: 40px;
  }

  .btn {
    font-size: 20px;
    text-align: center;
  }
  
   .extra {
        display: none;
    }
}


/* ==== PAGINA INIZIALE ====*/
.center-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.buttons {
    display: flex;
    gap: 40px;
    padding: 30px 60px;
    background-color: white;
    border-radius: 10px;
	margin: 20px;
}

.btn {
    font-size: 22px;
    padding: 12px 24px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.buttons:hover{
	background-color:#f44336;
    color: white;
}

/*.button{
	background-color:white;
	font-size:20px;
	padding: 16px 32px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: black;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 25% 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	 display: flex;
  justify-content: center; 
  gap: 20px;               
  width: 100%;

}*/

/* ===== CLASSIFICA ===== */
.classifica-row {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  gap: 20px;
  transition: 0.2s;
}

.classifica-row:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #add8e6;
	color: white;
}

.classifica-row .posizione {
  font-size: 22px;
  font-weight: bold;
  width: 40px;
  text-align: center;
}

.classifica-row .logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.classifica-row .squadra {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
}

.classifica-row .dati {
  font-size: 14px;
  
}
